/node_modules
/public/storage
/public/mix-manifest.json
/public/js/app.js
/public/css/app.css
/public/js/bootstrap.js
/public/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
.DS_Store